@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

@{
    ViewData["Title"] = "Magage users";
}

<h1>@ViewData["Title"]</h1>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-action="EditRole" asp-route-userId="@user.Id">Edit Role</a>
                </td>
            </tr>
        }
    </tbody>
</table>